<form action="{{ url_for('submit_ftb_attempt_answer', attempt_id=attempt.id, qav_id=qav.id) }}" method="POST" target="frame" class="answer-ftb-question">
    {{ form.csrf_token() }}
    <fieldset class="fill-the-blanks">
      <legend>Fill the blanks</legend>
      {% set word_list = qav.question.question_text.split(' ') %}
      {% set count = [1] %}
      <p>
        {% for word in word_list %}
          {% if word.startswith('[FILL') %}
            <input type="text" name="answer_{{ count|length }}" id="answer_{{ count|length }}" placeholder="Answer here..." required>
            {% set count = count.append(1) %}
          {% else %}
            {{ word }}
          {% endif %}
        {% endfor %}
      </p>
      {% if qav.question.hint %}
        <div class="question-hint">
          <button type="button" class="hint-btn">Show hint</button>
          <small class="hint-text hidden">{{ qav.question.hint }}</small>
        </div>
      {% endif %}
      <h4>({{ qav.marks_value }} mark{{ '' if qav.marks_value == 1 else 's' }})</h4>
    </fieldset>
    <input class="button-link" type="submit" value="Submit Answer">
</form>