{% extends 'layout.html' %}
{% block title %}Student Feedback{% endblock %}
{% block header %}Student Feedback{% endblock %}
{% block content %}
    <div class="content-section">
      {% if assessment %}
        <h3>Leave feedback for Assessment #{{ assessment.id }} - {{ assessment.title }}</h3>
      {% else %}
        <h3>Leave general feedback</h3>
      {% endif %}
      <form action="" method="post">
        {{ form.hidden_tag() }}
          <div class="form-group">
            {{ form.content.label(class="form-control-label") }}
            {{ form.content(class="form-control form-control-lg") }}
          </div>
          <div class="form-group rating-group">
            {{ form.rating.label(class="form-control-label") }}
            {{ form.rating(class="form-control form-control-lg") }}
          </div>
          <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
          </div>
      </form>
    </div>
    <div class="border-top pt-3">
      <small class="text-muted">
        Already completed feedback? <a class="ml-2" href="{{ url_for('home') }}">Home Page</a>
      </small>
    </div>
{% endblock %}
