<div class="student-statistics" id="student-{{ student.student_number }}">
  <div class="statistics-container">
    <h2 class="statistics-subhead">Overall Percentage</h2>
    <p>{{ student.average_percentage(rounded=True) }}%</p>
  </div>
  <div class="statistics-container">
    <h2 class="statistics-subhead">Assessments Attempted</h2>
    <p>{{ student.attempted_assessments()|length }} out of {{ student.assessments|length }}</p>
  </div>
  <div class="statistics-container">
    <h2 class="statistics-subhead">Average Percentage for Attempted Assessments</h2>
    <p>{{ student.average_percentage(rounded=True, attempted_only=True) }}%</p>
  </div>
  {% if display_full %}
      <h2>Assessment Statistics</h2>
        <div class="student-assessment-stats">
          {% include "statistics/_student-assessment-stats.html" %}
        </div>
  {% endif %}
</div>
